.selectWrapper {
  position: relative;
  width: 100%;
}

.realInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  opacity: 0; /* 보이지 않게 처리 */
  z-index: 2; /* 클릭을 진짜 input이 받음 */
}

.fakeInput {
  width: 100%;
  height: 46px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px 14px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 1; /* 클릭은 realInput이 받음 */
}

.fakeInput .arrow {
  font-size: 12px;
  opacity: 0.6;
}

.realInput:focus + .fakeInput {
  border-color: #f08080;
}

.dropdown {
  position: absolute;
  top: 48px;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
}

.option-1 {
  padding: 12px;
  cursor: pointer;
}

.option:hover {
  background: #fff3f3;
}
