.reservation-card {
  background: #fff;
  border-radius: 20px;
  width: 205px;
  padding: 22px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  font-family: 'Pretendard';
  overflow: hidden;
  transition: height 0.3s ease;
}

.reservation-card.open {
  height: auto;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.title-complete {
  font-size: 20px;
  font-weight: 800;
  color: #111;
  margin: 0 0 14px 0;
}

.info-section {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  height: 21px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.label-com {
  color: #aaa;
  font-weight: 600;
}

.value {
  font-weight: 600;
}

.value.name {
  color: #222;
}

.value.date,
.value.time {
  color: #fb808a;
}

.divider {
  height: 1px;
  background: #eee;
  margin: 10px 0;
}

.toggle-button {
  cursor: pointer;
  color: #aaa;
  font-weight: 600;
  font-size: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.detail-section {
  margin-top: 6px;
  font-size: 9px;
  color: #444;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.option-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-label {
  color: #515151;
  font-weight: 500;
}

.option-values {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  width: 80px;
}

.option {
  color: #c0c0c0;
  font-weight: 400;
}

.option.selected {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}

.photo-section {
  margin: 10px 0 12px 0;
}

.photo-title {
  color: #515151;
  display: block;
  margin-bottom: 6px;
}

.photo-list {
  width: 100%;
  display: flex;
  gap: 6px;
  overflow-x: auto;
  padding-bottom: 4px;
  box-sizing: border-box;
  scrollbar-width: thin;
}

.photo-thumb {
  flex: 0 0 auto;
  width: 52px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-position: center;
  background-size: cover;
}

.request-section {
  margin-top: 6px;
}

.request-title {
  color: #2b2b2b;
  display: block;
  margin-bottom: 6px;
}

.request-box {
  width: 198px;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.4;
  color: #000;
  font-family: 'Pretendard';
  font-size: 9px;
  white-space: pre-wrap;
}
