.reservation-message {
  background: #fff;
  border: 4px solid #ededed;
  border-radius: 16px;
  width: 225px;
  padding: 15px;
  box-shadow: 0 2px 8px #eee;
  position: relative;
  font-family: 'Pretendard';
  color: #b3b3b3;
  font-size: 13px;
  max-width: 100%;
}

/* 체크 아이콘 */
.check-icon-wrapper {
  position: absolute;
  top: 19px;
  left: 15px;
}

/* 타이틀 */
.message-title {
  text-align: left;
  font-weight: 800;
  font-size: 22px;
  color: #222;
  margin-bottom: 18px;
  margin-top: 38px;
  letter-spacing: -2px;
}

/* 예약 정보 영역 */
.reservation-info {
  margin-left: 0;
}

/* 행 공통 스타일 */
.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

/* 공통 라벨 */
.label {
  color: #c0c0c0;
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* 공통 값 */
.value-1 {
  font-weight: 600;
}

/* 값별 색상 */
.name {
  color: #222;
}

.date-1,
.time-1 {
  color: #f08080;
}

.photo-count {
  color: #c0c0c0;
}
